@media screen and (min-width: 450px) and (max-width: 728px) {
    header {
        height: 140px;

        h1 {
            font-size: 2.7em;
        }

        menu {
            .im {
                margin: auto;

                span {
                    background-color: white;
                    display: block;
                }
            }

            .menu {
                display: none;
            }

            .im {
                &:hover .menu {
                    display: block;
                }
            }

            li {
                display: none;

                a {
                    text-decoration: none;
                    color: white;
                    background-color: rgb(66, 65, 65);
                    padding: 10px;
                    font-size: 1.2em;

                    img {
                        &:hover .menu {
                            display: block;
                        }
                    }


                }
            }
        }
    }

    main {
        margin-top: 30px;
        width: 450px;

        p {
            font-size: 0.6em;
            letter-spacing: 2px;
            line-height: 1.7em;
        }
    }


}