
:root {
   --cor0: #1230;
   --cor1: #1360;
   --cor2: #1490;
   --cor3: #1520;
   --cor4: #1650;
}
p{
   color: var(--cor0);
}

h1 a:visited{
    color: rgb(75, 17, 17);
}


h1 a::before{
    content: '\002726';
}
ul li{
    list-style-type: '\2714';
}